<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/index.css">

  <title>NETWORKsheet</title>
</head>
<body>

  <form action="{{ url_for('how') }}" method="POST" role="form" class="form-horizontal">

    <div class="page-container section-1">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="page-header">
              <h3 class="page-title">
                <p>NETWORKsheet</p>
                <span></span>
              </h3>
              <h3 class="page-sub-title arrow">How do you know your contacts?</h3>
              <p>Now that you’ve identified some of the key contacts in your network, we’re going to explore the nature and strength of those relationships. Please answer the questions below for each contact in your network.</p>
              <p>This section may feel rather tedious depending on how many contacts you have identified, but please do not rush. It is an important part of understanding your relationships.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container section-2">
      <div class="row">
        <div class="page-content">
      <!-- Question 1 -->
          <div>
            <span class="text-green">1 / 6</span>
            <h3 class="section-title arrow-green mb-5">How close are you?</h3>
            <p class="mb-5">People feel close if they trust each other and feel comfortable discussing personal matters. How close do you feel towards your contacts?</p>
            {% for node in nodes %}
            <strong style='color:#2e6c53;'>{{ node.id }}</strong>
            <div class="form-group">
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineRadio1_<strong style='color:#2e6c53;'>{{ node.id }}</strong>">
                <input class="form-check-input" type="radio" name="close_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" id="inlineRadio1_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" value="Rather distant" required>
                Rather distant</label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineRadio2_<strong style='color:#2e6c53;'>{{ node.id }}</strong>">
                <input class="form-check-input" type="radio" name="close_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" id="inlineRadio2_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" value="Somewhat close" required>
                Somewhat close</label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineRadio3_<strong style='color:#2e6c53;'>{{ node.id }}</strong>">
                <input class="form-check-input" type="radio" name="close_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" id="inlineRadio3_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" value="Rather close" required>
                Rather close</label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineRadio4_<strong style='color:#2e6c53;'>{{ node.id }}</strong>">
                <input class="form-check-input" type="radio" name="close_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" id="inlineRadio4_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" value="Very close" required>
                Very close</label>
              </div>
            </div>
            {% endfor %}
            <div class="border-top my-5"></div>
          </div>
      <!-- End Question 1 -->

      <!-- Question 2 -->
          <div class="">
            <span class="text-green">2 / 6</span>
            <h3 class="section-title arrow-green mb-5">How often do you talk to them during normal work hours?  </h3>
            <p class="mb-5">Do you make a point to talk to them regularly on your own? Do you know what they are up to lately?</p>
            {% for node in nodes %}
            <strong style='color:#2e6c53;'>{{ node.id }}</strong>
            <div class="form-group">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="work_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" id="inlineRadio5_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" value="1-2 times a year" required>
                <label class="form-check-label" for="inlineRadio5_<strong style='color:#2e6c53;'>{{ node.id }}</strong>">0-2 times a year</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="work_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" id="inlineRadio6_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" value="Every few months" required>
                <label class="form-check-label" for="inlineRadio6_<strong style='color:#2e6c53;'>{{ node.id }}</strong>">Every few months</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="work_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" id="inlineRadio7_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" value="Every month" required>
                <label class="form-check-label" for="inlineRadio7_<strong style='color:#2e6c53;'>{{ node.id }}</strong>">Every month</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="work_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" id="inlineRadio8_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" value="Every week" required>
                <label class="form-check-label" for="inlineRadio8_<strong style='color:#2e6c53;'>{{ node.id }}</strong>">Every week</label>
              </div>
            </div>
            {% endfor %}
            <div class="border-top my-5"></div>
          </div>
      <!-- End Question 2 -->

      <!-- Question 3 -->
          <div class="">
            <span class="text-green">3 / 6</span>
            <h3 class="section-title arrow-green mb-5">How often do you talk to them outside of work hours?</h3>
            <p class="mb-5">Spending time together outside of work contexts offers opportunities to get to know one another in different ways. When was the last time you got together with them just to catch up?</p>
            {% for node in nodes %}
            <strong style='color:#2e6c53;'>{{ node.id }}</strong>
            <div class="form-group">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="outside_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" id="inlineRadio9_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" value="1-2 times a year" required>
                <label class="form-check-label" for="inlineRadio9_<strong style='color:#2e6c53;'>{{ node.id }}</strong>">0-2 times a year</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="outside_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" id="inlineRadio10_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" value="Every few months" required>
                <label class="form-check-label" for="inlineRadio10_<strong style='color:#2e6c53;'>{{ node.id }}</strong>">Every few months</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="outside_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" id="inlineRadio11_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" value="Every month" required>
                <label class="form-check-label" for="inlineRadio11_<strong style='color:#2e6c53;'>{{ node.id }}</strong>">Every month</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="outside_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" id="inlineRadio12_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" value="Every week" required>
                <label class="form-check-label" for="inlineRadio12_<strong style='color:#2e6c53;'>{{ node.id }}</strong>">Every week</label>
              </div>  
            </div>
            {% endfor %}
            <div class="border-top my-5"></div>
          </div>
      <!-- End Question 3 -->

      <!-- Question 4 -->
          <div class="">
            <span class="text-green">4 / 6</span>
            <h3 class="section-title arrow-green mb-5">How balanced are your relationships?</h3>
            <p class="mb-5">Are you in their network as much as they are in yours? Do they come to you for support, advice, or company as much as you go to them? Or do you feel that your relationships are one-sided? Please indicate how balanced (you are both "in it together") or unbalanced and one-sided (in either direction) you feel about each relationship.</p>

            {% for node in nodes %}
            <strong style='color:#2e6c53;'>{{ node.id }}</strong>
            <div class="form-group">
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineRadio13_<strong style='color:#2e6c53;'>{{ node.id }}</strong>">
                <input class="form-check-input" type="radio" name="help_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" id="inlineRadio13_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" value="1-2 times a year" required>
                Quite unbalanced</label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineRadio14_<strong style='color:#2e6c53;'>{{ node.id }}</strong>">
                <input class="form-check-input" type="radio" name="help_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" id="inlineRadio14_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" value="Every few months" required>
                Slightly unbalanced</label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineRadio15_<strong style='color:#2e6c53;'>{{ node.id }}</strong>">
                <input class="form-check-input" type="radio" name="help_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" id="inlineRadio15_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" value="Every month" required>
                Generally balanced</label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineRadio16_<strong style='color:#2e6c53;'>{{ node.id }}</strong>">
                <input class="form-check-input" type="radio" name="help_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" id="inlineRadio16_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" value="Every week" required>
                Very balanced</label>

              </div>  
            </div>
            {% endfor %}
            <div class="border-top my-5"></div>
          </div>
      <!-- End Question 4 -->

      <!-- Question 5 -->
          <div class="">
            <span class="text-green">5 / 6</span>
            <h3 class="section-title arrow-green mb-5">What do you know about them?</h3>
            <p>Do you know anything meaningful about each of the following categories? </p>
            <ul>
            <li>Friends: Do you know anything about their best friends?</li>
            <li>Family: Do they have siblings or children? Where do their parents live?</li>
            <li>Education: What is their highest degree? Where did they get their education?</li>
            <li>Cultural background: Where and how did they grow up?</li>
            <li>Interests: How do they spend their free time? What do they like to talk about outside of work?</li>
            <li>Food: What do they enjoy eating? Do they have favorite restaurants?</li>
            </ul>
            {% for node in nodes %}
            <strong style='color:#2e6c53;'>{{ node.id }}</strong>
            <div class="form-group">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="know_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" id="inlineCheckbox1_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" value="Friends">
                <label class="form-check-label" for="inlineCheckbox1_<strong style='color:#2e6c53;'>{{ node.id }}</strong>">Friends</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="know_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" id="inlineCheckbox2_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" value="Family">
                <label class="form-check-label" for="inlineCheckbox2_<strong style='color:#2e6c53;'>{{ node.id }}</strong>">Family</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="know_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" id="inlineCheckbox3_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" value="Education">
                <label class="form-check-label" for="inlineCheckbox3_<strong style='color:#2e6c53;'>{{ node.id }}</strong>">Education</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="know_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" id="inlineCheckbox4_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" value="Culture">
                <label class="form-check-label" for="inlineCheckbox4_<strong style='color:#2e6c53;'>{{ node.id }}</strong>">Cultural background</label>
              </div>           
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="know_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" id="inlineCheckbox5_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" value="Interests or hobbies">
                <label class="form-check-label" for="inlineCheckbox5_<strong style='color:#2e6c53;'>{{ node.id }}</strong>">Interests or hobbies</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="know_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" id="inlineCheckbox6_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" value="Favorite Food">
                <label class="form-check-label" for="inlineCheckbox6_<strong style='color:#2e6c53;'>{{ node.id }}</strong>">Favorite Food</label>
              </div>
            </div>
            {% endfor %}
            <div class="border-top my-5"></div>
          </div>
      <!-- End Question 5 -->

      <!-- Question 6 -->
          <div class="">
            <span class="text-green">6 / 6</span>
            <h3 class="section-title arrow-green mb-5">How similar are you?</h3>
            <p class="mb-5">Do you have anything in common with your contacts? Here are some common ways in which people feel similar to one another.</p>
            {% for node in nodes %}
            <strong style='color:#2e6c53;'>{{ node.id }}</strong>
            <div class="form-group">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="similar_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" id="inlineCheckbox7_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" value="Gender">
                <label class="form-check-label" for="inlineCheckbox7_<strong style='color:#2e6c53;'>{{ node.id }}</strong>">Gender</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="similar_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" id="inlineCheckbox8_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" value="Age">
                <label class="form-check-label" for="inlineCheckbox8_<strong style='color:#2e6c53;'>{{ node.id }}</strong>">Age</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="similar_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" id="inlineCheckbox9_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" value="Country or culture of origin">
                <label class="form-check-label" for="inlineCheckbox9_<strong style='color:#2e6c53;'>{{ node.id }}</strong>">Cultural background</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="similar_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" id="inlineCheckbox10_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" value="Professional Interests">
                <label class="form-check-label" for="inlineCheckbox10_<strong style='color:#2e6c53;'>{{ node.id }}</strong>">Professional Interests</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="similar_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" id="inlineCheckbox11_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" value="Social or political attitudes">
                <label class="form-check-label" for="inlineCheckbox11_<strong style='color:#2e6c53;'>{{ node.id }}</strong>">Social or political attitudes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="similar_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" id="inlineCheckbox12_<strong style='color:#2e6c53;'>{{ node.id }}</strong>" value="Personality">
                <label class="form-check-label" for="inlineCheckbox12_<strong style='color:#2e6c53;'>{{ node.id }}</strong>">Personality</label>
              </div>
            </div>
            {% endfor %}

            <div class="btn-container mt-5">
              <button type="submit" class="btn-custom btn">CONTINUE</button>
              <div>
                <span style="background: #2e6c53"></span>
                <span style="background: #2e6c53"></span>
                <span style="background: #2e6c53"></span>
                <span></span>
              </div>
            </div>

          </div>
      <!-- End Question 6 -->
    </div>
  </form>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>


<!-- Footer -->
<footer>
  <br><br>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright: Ko Kuwabara </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

</html>

