<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/index.css">

  <title>NETWORKsheet</title>
</head>
<body>

  <form action="{{ url_for('how') }}" method="POST" role="form" class="form-horizontal">

    <div class="page-container section-1">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="page-header">
              <h3 class="page-title">
                <p>NETWORKsheet</p>
                <span></span>
              </h3>
              <h3 class="page-sub-title arrow">How well do you know your contacts?</h3>
              <p>Now that you’ve identified some of the key contacts in your network, we’re going to explore the nature and strength of those relationships. Please answer the questions below for each contact in your network.</p>
              <p>This section may feel rather tedious depending on how many contacts you have identified, but please do not rush. It is an important part of understanding your relationships.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container section-2">
      <div class="row">
        <div class="page-content">
          <!-- Question 1 -->
          <div>
            <span class="text-green">1 / 6</span>
            <h3 class="section-title arrow-green mb-5">How close are you?</h3>
            <p class="mb-5">People feel close if they trust each other and feel comfortable discussing personal matters. How close do you feel towards your contacts?</p>
            {% for node in nodes %}
            {{ node.id }}
            <div class="form-group">
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineRadio1_{{ node.id }}">
                <input class="form-check-input" checked type="radio" name="close_{{ node.id }}" id="inlineRadio1_{{ node.id }}" value="Rather distant" required>
                Rather distant</label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineRadio2_{{ node.id }}">
                <input class="form-check-input" type="radio" name="close_{{ node.id }}" id="inlineRadio2_{{ node.id }}" value="Somewhat close" required>
                Somewhat close</label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineRadio3_{{ node.id }}">
                <input class="form-check-input" type="radio" name="close_{{ node.id }}" id="inlineRadio3_{{ node.id }}" value="Rather close" required>
                Rather close</label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineRadio4_{{ node.id }}">
                <input class="form-check-input" type="radio" name="close_{{ node.id }}" id="inlineRadio4_{{ node.id }}" value="Very close" required>
                Very close</label>
              </div>
            </div>
            {% endfor %}
            <div class="border-top my-5"></div>
          </div>
      <!-- End Question 1 -->

      <!-- Question 2 -->
          <div class="">
            <span class="text-green">2 / 6</span>
            <h3 class="section-title arrow-green mb-5">How often do you talk to them during normal work hours?  </h3>
            <p class="mb-5">Do you make a point to talk to them regularly on your own? Do you know what they are up to lately?</p>
            {% for node in nodes %}
            {{ node.id }}
            <div class="form-group">
              <div class="form-check form-check-inline">
                <input class="form-check-input" checked type="radio" name="work_{{ node.id }}" id="inlineRadio5_{{ node.id }}" value="1-2 times a year" required>
                <label class="form-check-label" for="inlineRadio5_{{ node.id }}">0-2 times a year</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="work_{{ node.id }}" id="inlineRadio6_{{ node.id }}" value="Every few months" required>
                <label class="form-check-label" for="inlineRadio6_{{ node.id }}">Every few months</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="work_{{ node.id }}" id="inlineRadio7_{{ node.id }}" value="Every month" required>
                <label class="form-check-label" for="inlineRadio7_{{ node.id }}">Every month</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="work_{{ node.id }}" id="inlineRadio8_{{ node.id }}" value="Every week" required>
                <label class="form-check-label" for="inlineRadio8_{{ node.id }}">Every week</label>
              </div>
            </div>
            {% endfor %}
            <div class="border-top my-5"></div>
          </div>
      <!-- End Question 2 -->

      <!-- Question 3 -->
          <div class="">
            <span class="text-green">3 / 6</span>
            <h3 class="section-title arrow-green mb-5">How often do you talk to them outside of work hours?</h3>
            <p class="mb-5">Spending time together outside of work contexts offers opportunities to get to know one another in different ways. How frequently do you got together with them just to catch up?</p>
            {% for node in nodes %}
            {{ node.id }}
            <div class="form-group">
              <div class="form-check form-check-inline">
                <input class="form-check-input" checked type="radio" name="outside_{{ node.id }}" id="inlineRadio9_{{ node.id }}" value="1-2 times a year" required>
                <label class="form-check-label" for="inlineRadio9_{{ node.id }}">0-2 times a year</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="outside_{{ node.id }}" id="inlineRadio10_{{ node.id }}" value="Every few months" required>
                <label class="form-check-label" for="inlineRadio10_{{ node.id }}">Every few months</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="outside_{{ node.id }}" id="inlineRadio11_{{ node.id }}" value="Every month" required>
                <label class="form-check-label" for="inlineRadio11_{{ node.id }}">Every month</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="outside_{{ node.id }}" id="inlineRadio12_{{ node.id }}" value="Every week" required>
                <label class="form-check-label" for="inlineRadio12_{{ node.id }}">Every week</label>
              </div>  
            </div>
            {% endfor %}
            <div class="border-top my-5"></div>
          </div>
      <!-- End Question 3 -->

      <!-- Question 4 -->
          <div class="">
            <span class="text-green">4 / 6</span>
            <h3 class="section-title arrow-green mb-5">How balanced are your relationships?</h3>
            <p class="mb-5">How often do you go to them, or do they typically come to you? Do they come to you for support, advice, or company as much as you go to them? Or do you feel that your relationships are one-sided? Please indicate how balanced (you are both "in it together") or unbalanced and one-sided (in either direction) you feel about each relationship.</p>

            {% for node in nodes %}
            {{ node.id }}
            <div class="form-group">
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineRadio13_{{ node.id }}">
                <input class="form-check-input" checked type="radio" name="help_{{ node.id }}" id="inlineRadio13_{{ node.id }}" value="1-2 times a year" required>
                Quite unbalanced</label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineRadio14_{{ node.id }}">
                <input class="form-check-input" type="radio" name="help_{{ node.id }}" id="inlineRadio14_{{ node.id }}" value="Every few months" required>
                Slightly unbalanced</label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineRadio15_{{ node.id }}">
                <input class="form-check-input" type="radio" name="help_{{ node.id }}" id="inlineRadio15_{{ node.id }}" value="Every month" required>
                Generally balanced</label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineRadio16_{{ node.id }}">
                <input class="form-check-input" type="radio" name="help_{{ node.id }}" id="inlineRadio16_{{ node.id }}" value="Every week" required>
                Very balanced</label>

              </div>  
            </div>
            {% endfor %}
            <div class="border-top my-5"></div>
          </div>
      <!-- End Question 4 -->

      <!-- Question 5 -->
          <div class="">
            <span class="text-green">5 / 6</span>
            <h3 class="section-title arrow-green mb-5">What do you know about them?</h3>
            <p>Do you know anything meaningful about each of the following categories? They may seem like relevant questinos, but it is helpful to think about how much you have invested in getting to know each person. </p>
            <ul>
            <li>Friends: Do you know anything about their best friends?</li>
            <li>Family: Do they have siblings or children? Where do their parents live?</li>
            <li>Education: What is their highest degree? Where did they get their education?</li>
            <li>Cultural background: Where and how did they grow up?</li>
            <li>Interests: How do they spend their free time? What do they like to talk about outside of work?</li>
            <li>Food: What do they enjoy eating? Do they have favorite restaurants or dishes?</li>
            </ul>
            {% for node in nodes %}
            {{ node.id }}
            <div class="form-group">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="know_{{ node.id }}" id="inlineCheckbox1_{{ node.id }}" value="Friends">
                <label class="form-check-label" for="inlineCheckbox1_{{ node.id }}">Friends</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="know_{{ node.id }}" id="inlineCheckbox2_{{ node.id }}" value="Family">
                <label class="form-check-label" for="inlineCheckbox2_{{ node.id }}">Family</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="know_{{ node.id }}" id="inlineCheckbox3_{{ node.id }}" value="Education">
                <label class="form-check-label" for="inlineCheckbox3_{{ node.id }}">Education</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="know_{{ node.id }}" id="inlineCheckbox4_{{ node.id }}" value="Culture">
                <label class="form-check-label" for="inlineCheckbox4_{{ node.id }}">Cultural background</label>
              </div>           
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="know_{{ node.id }}" id="inlineCheckbox5_{{ node.id }}" value="Interests or hobbies">
                <label class="form-check-label" for="inlineCheckbox5_{{ node.id }}">Interests or hobbies</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="know_{{ node.id }}" id="inlineCheckbox6_{{ node.id }}" value="Favorite Food">
                <label class="form-check-label" for="inlineCheckbox6_{{ node.id }}">Favorite Food</label>
              </div>
            </div>
            {% endfor %}
            <div class="border-top my-5"></div>
          </div>
      <!-- End Question 5 -->

      <!-- Question 6 -->
          <div class="">
            <span class="text-green">6 / 6</span>
            <h3 class="section-title arrow-green mb-5">How similar are you?</h3>
            <p class="mb-5">Do you have anything in common with your contacts? Here are some common ways in which people feel similar to one another.</p>
            {% for node in nodes %}
            {{ node.id }}
            <div class="form-group">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="similar_{{ node.id }}" id="inlineCheckbox7_{{ node.id }}" value="Gender">
                <label class="form-check-label" for="inlineCheckbox7_{{ node.id }}">Gender</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="similar_{{ node.id }}" id="inlineCheckbox8_{{ node.id }}" value="Age">
                <label class="form-check-label" for="inlineCheckbox8_{{ node.id }}">Age</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="similar_{{ node.id }}" id="inlineCheckbox9_{{ node.id }}" value="Country or culture of origin">
                <label class="form-check-label" for="inlineCheckbox9_{{ node.id }}">Race and culture</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="similar_{{ node.id }}" id="inlineCheckbox10_{{ node.id }}" value="Professional Interests">
                <label class="form-check-label" for="inlineCheckbox10_{{ node.id }}">Professional or personal interests</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="similar_{{ node.id }}" id="inlineCheckbox11_{{ node.id }}" value="Social or political attitudes">
                <label class="form-check-label" for="inlineCheckbox11_{{ node.id }}">Social or political attitudes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="similar_{{ node.id }}" id="inlineCheckbox12_{{ node.id }}" value="Personality">
                <label class="form-check-label" for="inlineCheckbox12_{{ node.id }}">Personality</label>
              </div>
            </div>
            {% endfor %}

            <div class="btn-container mt-5">
              <button type="submit" class="btn-custom btn">CONTINUE</button>
              <div>
                <span style="background: #2e6c53"></span>
                <span style="background: #2e6c53"></span>
                <span style="background: #2e6c53"></span>
                <span></span>
              </div>
            </div>

          </div>
      <!-- End Question 6 -->
    </div>
  </form>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>



<!-- Footer -->
<footer>
  <br><br>
  <!-- Copyright 
  <div class="footer-copyright text-center py-3">© 2026 Copyright:
    <a href="">Ko Kuwabara</a>
  </div>
  Copyright -->
  <br>
</footer>
<!-- Footer -->

</html>
