<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/index.css">

  <title>NETWORKsheet</title>
</head>
<body>

  <form action="{{ url_for('how') }}" method="POST" role="form" class="form-horizontal">

    <br>
    <br>
    <div class="container">
    
    
      <!-- Instructions -->
      <div class="jumbotron">
        <div class="jumbotron-content">
          <h3>How do you know your contacts?</h3>
          <p>Now that you’ve identified some of the key contacts in your network, we’re going to explore the nature and strength of those relationships. Please answer the questions below for each contact in your network.</p>
          <p>This section may feel rather tedious depending on how many contacts you have identified, but please do not rush. It is an important part of understanding your relationships.</p>
        </div>
      </div>
      <!-- End instructions -->

      <!-- Question 1 -->
      <div class="jumbotron">
        <div class="jumbotron-content">
          <h3 class="display-7">How close are you?</h3>
          People feel close if they trust each other and feel comfortable discussing personal matters. How close do you feel towards your contacts?
          {% for node in nodes %}
          <div class="border-top my-3"></div>
          {{ node.id }}
          <!--<div class="border-top my-3"></div>-->

          <div class="form-group">
            <div class="form-check form-check-inline">
              <label class="form-check-label" for="inlineRadio1_{{ node.id }}">
              <input class="form-check-input" type="radio" name="close_{{ node.id }}" id="inlineRadio1_{{ node.id }}" value="Rather distant" required>
              Rather distant</label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label" for="inlineRadio2_{{ node.id }}">
              <input class="form-check-input" type="radio" name="close_{{ node.id }}" id="inlineRadio2_{{ node.id }}" value="Somewhat close" required>
              Somewhat close</label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label" for="inlineRadio3_{{ node.id }}">
              <input class="form-check-input" type="radio" name="close_{{ node.id }}" id="inlineRadio3_{{ node.id }}" value="Rather close" required>
              Rather close</label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label" for="inlineRadio4_{{ node.id }}">
              <input class="form-check-input" type="radio" name="close_{{ node.id }}" id="inlineRadio4_{{ node.id }}" value="Very close" required>
              Very close</label>
            </div>
          </div>

          {% endfor %}
        </div>
      </div>
      <!-- End Question 1 -->

      <!-- Question 2 -->

      <div class="jumbotron">
        <div class="jumbotron-content">
          <h3 class="display-7">How often do you talk to them during normal work hours?  </h3>
          Do you make a point to talk to them regularly on your own? Do you know what they are up to lately?
          {% for node in nodes %}
          <div class="border-top my-3"></div>
          {{ node.id }}    
          <!--<div class="border-top my-3"></div>-->

          <div class="form-group">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="work_{{ node.id }}" id="inlineRadio5_{{ node.id }}" value="1-2 times a year" required>
              <label class="form-check-label" for="inlineRadio5_{{ node.id }}">0-2 times a year</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="work_{{ node.id }}" id="inlineRadio6_{{ node.id }}" value="Every few months" required>
              <label class="form-check-label" for="inlineRadio6_{{ node.id }}">Every few months</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="work_{{ node.id }}" id="inlineRadio7_{{ node.id }}" value="Every month" required>
              <label class="form-check-label" for="inlineRadio7_{{ node.id }}">Every month</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="work_{{ node.id }}" id="inlineRadio8_{{ node.id }}" value="Every week" required>
              <label class="form-check-label" for="inlineRadio8_{{ node.id }}">Every week</label>
            </div>
          </div>

          {% endfor %}
        </div>
      </div>
      <!-- End Question 2 -->

      <!-- Question 3 -->
      <div class="jumbotron">
        <div class="jumbotron-content">
          <h3 class="display-7">How often do you talk to them outside of work hours?</h3>
          Spending time together outside of work contexts offers opportunities to get to know one another in different ways. When was the last time you got together with them just to catch up?
          {% for node in nodes %}
          <div class="border-top my-3"></div>
          {{ node.id }}    
          <!--<div class="border-top my-3"></div>-->

          <div class="form-group">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="outside_{{ node.id }}" id="inlineRadio9_{{ node.id }}" value="1-2 times a year" required>
              <label class="form-check-label" for="inlineRadio9_{{ node.id }}">0-2 times a year</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="outside_{{ node.id }}" id="inlineRadio10_{{ node.id }}" value="Every few months" required>
              <label class="form-check-label" for="inlineRadio10_{{ node.id }}">Every few months</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="outside_{{ node.id }}" id="inlineRadio11_{{ node.id }}" value="Every month" required>
              <label class="form-check-label" for="inlineRadio11_{{ node.id }}">Every month</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="outside_{{ node.id }}" id="inlineRadio12_{{ node.id }}" value="Every week" required>
              <label class="form-check-label" for="inlineRadio12_{{ node.id }}">Every week</label>
            </div>  
          </div>

          {% endfor %}
        </div>
      </div>
      <!-- End Question 3 -->



      <!-- Question 4 -->

      <div class="jumbotron">
        <div class="jumbotron-content">
          <h3 class="display-7">How balanced are your relationships?</h3>
          Are you in their network as much as they are in yours? Do they come to you for support, advice, or company as much as you go to them? Or do you feel that your relationships are one-sided? 
          Please indicate how balanced (you are both "in it together") or unbalanced and one-sided (in either direction) you feel about each relationship.

          {% for node in nodes %}
          <div class="border-top my-3"></div>
          {{ node.id }}    
          <!--<div class="border-top my-3"></div>-->

          <div class="form-group">
            <div class="form-check form-check-inline">
              <label class="form-check-label" for="inlineRadio13_{{ node.id }}">
              <input class="form-check-input" type="radio" name="help_{{ node.id }}" id="inlineRadio13_{{ node.id }}" value="1-2 times a year" required>
              Quite unbalanced</label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label" for="inlineRadio14_{{ node.id }}">
              <input class="form-check-input" type="radio" name="help_{{ node.id }}" id="inlineRadio14_{{ node.id }}" value="Every few months" required>
              Slightly unbalanced</label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label" for="inlineRadio15_{{ node.id }}">
              <input class="form-check-input" type="radio" name="help_{{ node.id }}" id="inlineRadio15_{{ node.id }}" value="Every month" required>
              Generally balanced</label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label" for="inlineRadio16_{{ node.id }}">
              <input class="form-check-input" type="radio" name="help_{{ node.id }}" id="inlineRadio16_{{ node.id }}" value="Every week" required>
              Very balanced</label>

            </div>  
          </div>

          {% endfor %}
        </div>
      </div>
      <!-- End Question 4 -->


      <!-- Question 5 -->

      <div class="jumbotron">
        <div class="jumbotron-content">
          <h3 class="display-7">What do you know about them?</h3>
          Friends: Do you know anything about their best friends?
          <br>Family: Do they have siblings or children? Where do their parents live?
          <br>Education: What is their highest degree? Where did they get their education?
          <br>Cultural background: Where and how did they grow up?
          <br>Interests: How do they spend their free time? What do they like to talk about outside of work?
          <br>Food: What do they enjoy eating? Do they have favorite restaurants?
          {% for node in nodes %}
          <div class="border-top my-3"></div>
          {{ node.id }}    
          <!--<div class="border-top my-3"></div>-->

          <div class="form-group">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="know_{{ node.id }}" id="inlineCheckbox1_{{ node.id }}" value="Friends">
              <label class="form-check-label" for="inlineCheckbox1_{{ node.id }}">Friends</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="know_{{ node.id }}" id="inlineCheckbox2_{{ node.id }}" value="Family">
              <label class="form-check-label" for="inlineCheckbox2_{{ node.id }}">Family</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="know_{{ node.id }}" id="inlineCheckbox3_{{ node.id }}" value="Education">
              <label class="form-check-label" for="inlineCheckbox3_{{ node.id }}">Education</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="know_{{ node.id }}" id="inlineCheckbox4_{{ node.id }}" value="Culture">
              <label class="form-check-label" for="inlineCheckbox4_{{ node.id }}">Cultural background</label>
            </div>           
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="know_{{ node.id }}" id="inlineCheckbox5_{{ node.id }}" value="Interests or hobbies">
              <label class="form-check-label" for="inlineCheckbox5_{{ node.id }}">Interests or hobbies</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="know_{{ node.id }}" id="inlineCheckbox6_{{ node.id }}" value="Favorite Food">
              <label class="form-check-label" for="inlineCheckbox6_{{ node.id }}">Favorite Food</label>
            </div>
          </div>

          {% endfor %}
        </div>
      </div>
      <!-- End Question 5 -->



      <!-- Question 6 -->

      <div class="jumbotron">
        <div class="jumbotron-content">
          <h3 class="display-7">How similar are you?</h3>
          Do you have anything in common with your contacts? Here are some common ways in which people feel similar to one another.
          {% for node in nodes %}
          <div class="border-top my-3"></div>
          {{ node.id }}    
          <!--<div class="border-top my-3"></div>-->

          <div class="form-group">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="similar_{{ node.id }}" id="inlineCheckbox7_{{ node.id }}" value="Gender">
              <label class="form-check-label" for="inlineCheckbox7_{{ node.id }}">Gender</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="similar_{{ node.id }}" id="inlineCheckbox8_{{ node.id }}" value="Age">
              <label class="form-check-label" for="inlineCheckbox8_{{ node.id }}">Age</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="similar_{{ node.id }}" id="inlineCheckbox9_{{ node.id }}" value="Country or culture of origin">
              <label class="form-check-label" for="inlineCheckbox9_{{ node.id }}">Cultural background</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="similar_{{ node.id }}" id="inlineCheckbox10_{{ node.id }}" value="Professional Interests">
              <label class="form-check-label" for="inlineCheckbox10_{{ node.id }}">Professional Interests</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="similar_{{ node.id }}" id="inlineCheckbox11_{{ node.id }}" value="Social or political attitudes">
              <label class="form-check-label" for="inlineCheckbox11_{{ node.id }}">Social or political attitudes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="similar_{{ node.id }}" id="inlineCheckbox12_{{ node.id }}" value="Personality">
              <label class="form-check-label" for="inlineCheckbox12_{{ node.id }}">Personality</label>
            </div>
          </div>

          {% endfor %}
        </div>
      </div>
      <!-- End Question 6 -->

      <div class="container">
        <div class="row">
          <div class="col text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>

    </form>

  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>


<!-- Footer -->
<footer>
  <br><br>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright: Ko Kuwabara </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

</html>

