<!doctype html>
<html lang="en">
 


<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/index.css">

  <title>NETWORKsheet</title>



</head>

<body onload="isMobile()">
  <br>
  <div class="container">
    <div class="jumbotron">
      <div class="jumbotron-content">
        <h3 class="display-5">NETWORKsheet</h3>
        <h3 class="display-6">Understanding Your Network</h3>
        <p>From getting hired to getting things done and getting ahead, hardly anyone disputes the importance of “who you know” in business. Yet, an extensive body of research has shown that not all networks are created equal. A good network can accelerate your career, but many of us end up building networks that are ineffective at best, counterproductive at worst.</p>
        <p>This online worksheet is designed to help you think more carefully about what your network looks like and how you manage professional relationships. You will be asked to name people from your core professional network, think about your relationships with them, and draw your network. </p>
        <p>This worksheet takes about 15-30 minutes to complete, although there is no time limit. At any point in the worksheet, you may return to a previous page to change your responses as you notice something new or gain new insights. The entire worksheet is anonymous; no data will be recorded. </p>  
        <p><strong>Disclaimer: Currently mobile devices (phones and tablets) are not supported. Please use a computer with an external mouse or touchpad to enable the start button.</strong></p>
        <div class="container">
          <div class="row">
            <br>
            <div class="col text-center">
              <a class="btn btn-primary btn-lg" href="/who" role="button" onclick="isMobile()">Start</a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script>
    function isMobile(){

      window.alert(windows.navigator.userAgent);

          if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {

            window.alert(navigator.userAgent);

            $(document).ready(function() {
              $('a').on("click", function(e) {
                e.preventDefault();
              });
            }); 
          } 
        } 
  </script>

</body>


<!-- Footer -->
<footer>
  <br><br>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="">Ko Kuwabara</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

</html>

