
<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/index.css">
	<script src="//d3js.org/d3.v3.min.js"></script>

	<title>Networksheet</title>
</head>
<body>


	<div>
		<h3>Your network</h3>
		<img src={{ img | safe }} class="center"/>
	</div>

	<div class="container">
		<div class="jumbotron">
			<div class="jumbotron-content">

				<h3>Your relationships</h3>

				<table class="table">
					<thead>
						<tr>
							<th>Contact</th>
							<th style="width:3cm">How close are you?</th>
							<th style="width:3cm">How often do you talk at work?</th>
							<th style="width:3cm">How often do you talk outside of work?</th>
							<th style="width:3cm">How often do they come to you for help?</th>
							<th style="width:3cm">What do you know about them?</th>
							<th style="width:3cm">How similar are you?</th>
						</tr>
					</thead>

					{% for name, questions in summary.items() %}
					<tr>
						<td>{{ name }}</td>

						{% for quest in ['close', 'work', 'outside', 'help', 'know', 'similar'] %}

   						    <td>

   						    	<img src={{ summary[name][quest] }}>

   						    </td>

						{% endfor %}

					</tr>

					{% endfor %}
	     </table>
				</div>
</div>
</div>
		

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


<div class="form-group">
    <label for="exampleFormControlTextarea1">Reflect Here</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Reflect Some More Here</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>


	</body>


	<!-- Footer -->
	<footer>

		<script>
			function getPdf() {
				window.print()
			}
		</script>

		<div class="container">
			<div class="row">
				<div class="col text-center">
					<form name="myform" action="javascript:getPdf()">
						<button type="submit" class="btn btn-primary">Download as PDF</button>
					</form>
				</div>
			</div>
			<br>
		</div>



		<br><br>
		<!-- Copyright -->
		<div class="footer-copyright text-center py-3">© 2020 Copyright:
			<a href="">Ko</a>
		</div>
		<!-- Copyright -->

	</footer>
	<!-- Footer -->

	</html>





