<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/index.css">
  <link rel="stylesheet" href="../static/css/who.css">
  <title>NETWORKsheet</title>
  <script>
    let k=6;
  </script>

</head>

<body>
  <form action="{{ url_for('who') }}" method="POST" role="form" class="form-horizontal">
    <div class="form-group">
      <div class="page-container section-1">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="page-header">

                <h3 class="page-title">
                  <p>NETWORKsheet</p>
                  <span></span>
                </h3>

                <h3 class="page-sub-title arrow">Who's in your network?</h3>

                <p>Below are questions to help you identify different types of people who have played an important role in your professional pursuits and development in the last 1-2 years. Please use initials to identify each contact (e.g. MM or Mike M; beware of people with the same initials). You may enter each contact multiple times as needed. If you are a full-time student, think about either 1) contacts from your previous job or 2) people you talk to outside of school.</p>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container section-2">
        <div class="row">
          <div class="page-content">

            <div class="">
              <span class="text-green">1 / 6</span>
              <h3 class="section-title arrow-green mb-5">Technical expertise</h3>
              <p class="mb-5">Name up to <script>document.write(k);</script> people you go to for technical or operational advice and solutions. These people help you solve problems and get things done efficiently or creatively because of their expertise.</p>
              <div class="row">

               <script>
                 for (var i=1; i<=k; i++) {
                    document.write('<div class="col"><input type="text" class="form-control" placeholder="" name="T"></div>');
                 }
               </script>   
              </div>
              <div class="border-top my-5"></div>
            </div>

            <div class="">
              <span class="text-green">2 / 6</span>
              <h3 class="section-title arrow-green mb-5">News and Information</h3>
              <p class="mb-5">Name up to <script>document.write(k);</script> people you go to for information about new opportunities, events, or happenings at work or in your profession.</p>
              <div class="row">
                <script>
                  for (var i=1; i<=k; i++) {
                     document.write('<div class="col"><input type="text" class="form-control" placeholder="" name="N"></div>');
                  }
                </script>  
              </div>
              <div class="border-top my-5"></div>
            </div>

            <div class="">
              <span class="text-green">3 / 6</span>
              <h3 class="section-title arrow-green mb-5">Political Support</h3>
              <p class="mb-5">Name up to <script>document.write(k);</script> people you rely on to help you secure resources, positions, or opportunities to do new things or meet new people because of their role or influence.</p>
              <div class="row">
                <script>
                  for (var i=1; i<=k; i++) {
                     document.write('<div class="col"><input type="text" class="form-control" placeholder="" name="P"></div>');
                  }
                </script>               
              </div>
              <div class="border-top my-5"></div>
            </div>

            <div class="">
              <span class="text-green">4 / 6</span>
              <h3 class="section-title arrow-green mb-5">Guidance</h3>
              <p class="mb-5">Name up to <script>document.write(k);</script> people you go to for wisdom and feedback to help you reflect and change perspectives on important professional and personal questions. You value them as mentors or sounding boards.</p>
              <div class="row">
                <script>
                  for (var i=1; i<=k; i++) {
                     document.write('<div class="col"><input type="text" class="form-control" placeholder="" name="G"></div>');
                  }
                </script> 
                </div> 
              <div class="border-top my-5"></div>
            </div>

            <div class="">
              <span class="text-green">5 / 6</span>
              <h3 class="section-title arrow-green mb-5">Inspiration</h3>
              <p class="mb-5">Name up to <script>document.write(k);</script> people who give you inspiration (energy, confidence, purpose) at work. They inspire, challenge, or encourage you to strive toward important goals.</p>
              <div class="row">
                <script>
                  for (var i=1; i<=k; i++) {
                     document.write('<div class="col"><input type="text" class="form-control" placeholder="" name="I"></div>');
                  }
                </script>  
              </div>
              <div class="border-top my-5"></div>
            </div>

            <div class="">
              <span class="text-green">6 / 6</span>
              <h3 class="section-title arrow-green mb-5">Friendship</h3>
              <p class="mb-5">Name up to <script>document.write(k);</script> people who have been the most important friends. You can discuss personal or non-professional matters with them. They give you emotional support and make you feel accepted.</p>
              <div class="row">
                <script>
                  for (var i=1; i<=k; i++) {
                     document.write('<div class="col"><input type="text" class="form-control" placeholder="" name="F"></div>');
                  }
                </script>  
              </div>
              
            </div>
            
            <div class="btn-container mt-5">
              <button type="submit" class="btn-custom btn">CONTINUE</button>
              <div>
                <span style="background: #2e6c53"></span>
                <span style="background: #2e6c53"></span>
                <span></span>
                <span></span>
              </div>
            </div>

          </div>
        </div>
      </div> 
      <!-- END QUESTION -->

    </div>

</form>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

<!-- Footer -->
<footer>
  <br><br>
  <!-- Copyright 
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="">Ko Kuwabara</a>
  </div>
  Copyright -->
  <br>
</footer>
<!-- Footer -->

</html>

