<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/index.css">

  <title>NETWORKsheet</title>
</head>
<body>

  <form action="{{ url_for('who') }}" method="POST" role="form" class="form-horizontal">
    <div class="form-group">

      <br>
      <div class="container">
        <div class="jumbotron">
          <div class="jumbotron-content">
            <h3>Who's in your network?</h3> 
            Below are questions to help you identify different types of people who have played an important role in your professional pursuits and development in the last 1-2 years. Please use initials to identify each contact (e.g. MM or Mike M; beware of people with the same initials). You may enter each contact multiple times as needed. If you are a full-time student, think about contacts from your previous job.</p>
          </div>
        </div>
      </div>

      <br>
      <div class="container">
        <div class="jumbotron">
          <div class="jumbotron-content">
            <h1 class="display-7">Technical expertise</h1>

            Name up to 4 people you go to for technical or operational advice and solutions. These people help you solve problems and get things done efficiently or creatively because of their expertise.
            <div class="border-top my-3"></div>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="" name="T">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="" name="T">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="" name="T">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="" name="T">
              </div>           
            </div>
          </div>
        </div>
      </div>

      <!-- START QUESTION -->
      <br>
      <div class="container">
        <div class="jumbotron">
          <div class="jumbotron-content">
            <h1 class="display-7">News and Information</h1>
            Name up to 4 people you go to for information about new opportunities, events, or happenings at work or in your profession. 
            <div class="border-top my-3"></div>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="" name="N">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="" name="N">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="" name="N">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="" name="N">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END QUESTION -->

      <!-- START QUESTION -->
      <br>
      <div class="container">
        <div class="jumbotron">
          <div class="jumbotron-content">
            <h1 class="display-7">Political Support</h1>
            Name up to 4 people you rely on to help you secure resources, positions, or opportunities to do new things or meet new people because of their role or influence.
            <div class="border-top my-3"></div>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="" name="P">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="" name="P">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="" name="P">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="" name="P">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END QUESTION -->



      <!-- START QUESTION -->
      <br>
      <div class="container">
        <div class="jumbotron">
          <div class="jumbotron-content">
            <h1 class="display-7">Guidance</h1>
            Name up to 4 people you go to for wisdom and feedback to help you reflect and change perspectives on important professional and personal questions. You value them as mentors or sounding boards.
            <div class="border-top my-3"></div>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="" name="G">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="" name="G">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="" name="G">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="" name="G">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END QUESTION -->

      <!-- START QUESTION -->
      <br>
      <div class="container">
        <div class="jumbotron">
          <div class="jumbotron-content">
            <h1 class="display-7">Inspiration</h1>
            Name up to 4 people who give you inspiration (energy, confidence, purpose) at work. They inspire, challenge, or encourage you to strive toward important goals . 
            <div class="border-top my-3"></div>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="" name="I">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="" name="I">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="" name="I">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="" name="I">
              </div>
            </div>
          </div>
        </div>
      </div> 
      <!-- END QUESTION -->

      <!-- START QUESTION -->
      <br>
      <div class="container">
        <div class="jumbotron">
          <div class="jumbotron-content">
            <h1 class="display-7">Friendship</h1>
            Name up to 4 people who have been the most important friends. You can discuss personal or non-professional matters with them. They give you emotional support and make you feel accepted.
            <div class="border-top my-3"></div>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="" name="F">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="" name="F">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="" name="F">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="" name="F">
              </div>
            </div>
          </div>
        </div>
      </div> 
      <!-- END QUESTION -->



    </div>


  <div class="container">
    <div class="row">
      <div class="col text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>

</form>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

<!-- Footer -->
<footer>
  <br><br>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright: Ko Kuwabara
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

</html>

